@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /*### Primary*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    
    /*### Neutral*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: snow;
    
}
.container {
    max-width: 350px;
    margin: 6rem 3.5rem;
    background-color: #FFFF;
    border-radius: 2rem;   
    text-align: center;
    box-shadow: 0 0 100px 10px hsl(215, 61%, 7%);
}
.hero img {
    margin: 0 auto;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.container .order h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 900;
}

.container .text p {
    font-weight: 500;
    margin-bottom: 2rem;
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
}
.container ul div li {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -2.5rem;
}
.container ul div li:first-child{
    font-weight: 900;
}
.container ul div li:last-child{
    font-weight: 500;
}

.container ul li a {
    color: var(--bright-blue);
}

.container ul li a:hover {
    text-decoration: none;
    color: var(--desaturated-blue);
}


.container .payment button{
    background-color: var(--bright-blue);
    color: #FFFF;
    width: 80%;
    height: 3rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 16px;
}
.container .payment button:hover {
    background-color: var(--desaturated-blue);
    cursor: pointer;
}

.container .cancel h2{
    font-weight: 500;
    margin: 1.5rem;
    padding-bottom: 2rem;
    font-size: 16px;
    color: grey;
}

.container .cancel h2:hover{
    color: black;
    cursor: pointer;
}





.attribution {
    font-size: 12px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:500px) {
    .container {
        width: 450px;
        margin: 10rem auto 1rem;
    }
}